/**font-family: 'Martel', serif;
font-family: 'Work Sans', sans-serif;
*/
/***********
  Header
***********/
h1{
  color: #ff9999;
  font-family: 'Work Sans', sans-serif;
  font-size: 2.3em;
  text-align: center;
  top: -10px;
}

.intro, body{
  font-family: 'Martel', serif;
}

.intro{
  color: #66cccc;
  text-align: center;
}

/***********
  Nav
***********/
nav{
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
}
nav ul{
  list-style-type: none;
  margin:0;
  padding: 0;
}
nav li{
  display: inline-block;
}
nav a{
  color: #66cccc;
  padding: 15px 10px;
  text-decoration: none;
}
.active{
  background-color: #66cccc;
  color: #fff;
}
nav a:hover, a:active, a:focus{
  /* color:#ff9999; */
  background-color: #66cccc;
  color: #fff;
}
/*commented out since I have visited all the links
nav a:visited{
  color:#996699;
} */

/***********
  Main
***********/
main{
  text-align: center;
}
/** Create 3 columns 1 for recent blog post, 1 for recent work and 1 for aside table.**/
main, section, aside{
  color: #999;
}
/**************
  Recent Blog
***************/
h3{
  margin-top: 1px;

}
.bloglink, footer{
  color:#ccc;
}
.blog-heading, .work-heading{
  background-color: #66cccc;
  color: #fff;
}

.recent-blog{
  border: 2px #66cccc dashed;
  text-align: center;
}
/**************
  Recent Work
***************/
.recent-work{
  border: 2px #66cccc dashed;
  text-align: center;
  padding-bottom: 59px;
}
/***********
  Aside
***********/
aside{
  border: 2px #66cccc dashed;
  text-align: center;
}
.book-heading{
  background-color: #ccc;
  color:#fff;
}
table, .th3, .th4, td{
  border-top: 2px #66cccc dashed;
}
.th1, .th3{
  border-right: 2px #66cccc dashed;
}

/**************
  Footer
**************/
.copyright{
  font-size: 16px;
  padding-right: 10px;
  text-align: center;
}

/**************
  Social Links
**************/
.space{
  padding-bottom: 30px;
}
footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
footer li{
  display: inline-block;
}
footer a{
  padding: 15px 10px;
}
.social-links{
  background-color: #66cccc;
  color: #fff;
}
footer a:hover, a:active, a:focus{
  /* color:#ff9999; */
  background-color: #ff9999;
  color: #fff;
}

/****************
  Media Queries
****************/
@media (min-width:768px){
h1{
  position: absolute;
}
.intro{
  text-align: left;
}
nav{
  position: relative;
  text-align: right;
}

.recent-blog{
  margin-left: 0;

}
.recent-work{
  margin-right: 0;
}
footer{
  text-align: right;
}
footer ul{
  position:absolute;
}
.copyright{
  position:relative;
  text-align: right;
}


}
@media (min-width:992px){
.recent-blog{
  float: left;
  margin-left: 20px;
  width: 46%;
}
.recent-work{
  float:right;
  margin-right: 20px;
  width:46%;
}

aside{
  display: inline-block;
  margin-left:100px;

}
}
