* {
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
  margin: 2% 5%;
  text-align: center;
}

/*****************
  Fonts and Size
*****************/
.main-nav, .header-text, .blog-heading, .work-heading, .book-heading, .th1, .th2, .th3, .th4, .social-links{
  font-family: 'Amatic SC', cursive;
}
nav a, .header-text, .blog-heading, .work-heading, .book-heading, .social-links{
  font-size: 1.8em;
}
.header-title, .greeting {
  font-family: 'Allura', cursive;
  font-size: 5.5em;
}
.greeting{
  font-size: 2.5em;
}
.th1, .th2, .th3, .th4{
  font-size: 1.5em;
}
.copyright {
  font-size: 16px;
}
/***************
  Letter Spacing
****************/
.blog-heading, .work-heading, .book-heading, .th1, .th2, .th3, .th4{
  letter-spacing: .1em;
}
/***************
  Font Colors
****************/
/** Orange **/
 .header-text, nav a{
    color: #ffc0ac;
}

.header-title {
  color: darkslateblue;
}
/** White on Pink **/
a:hover, a:active, a:focus{
  background-color: #ff9999;
  color: #fff;
}
/** Medium Gray **/
main, section, aside, .main-content, .treehouse {
  color: #999;
}
.greeting {
  color: khaki;
}
/** Pink **/
.bloglink {
  color: #ff9999;
}
/** Light Gray on White **/
.bloglink:hover, .bloglink:active, .bloglink:focus {
  background-color: #fff;
  color: #ccc;
}
/** White on Orange **/
.active, .blog-heading, .work-heading, .social-links {
  background-color: #ffc0ac;
  color: #fff;
}
/** White on Pink **/
.blog-heading:hover, .blog-heading:active, .blog-heading:focus, .work-heading:hover, .work-heading:active, .work-heading:focus{
  background-color: #ff9999;
  color: #fff;
}
/** White on Light Gray **/
.book-heading {
  background-color: #ccc;
  color: #fff;
}

.th1, .th2, .th3, .th4{
  background: khaki;
  color: #fff;
}
/** Light Gray **/
.copyright {
  color: #ccc;
}

/**************************************************************
  Header Styles
***********/
.header {
  border: 2px #FFA184 dashed;
}

.header-title {
  margin: 20px 0;
  top: -10px;
}

.header-text {
  margin: 0;
}

/**********
  Nav
***********/
.main-nav {
  margin: 10px 0;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  padding: 15px 10px;
  text-decoration: none;
}

/* nav a:visited {
  color: #ffd8d8;
} */

/***********
  Main
***********/
.content {
  /*Pushes div over content */
  overflow: auto;
}
.greeting {
  margin: 15px 0 2px 0;
}
.main-content{
  margin-top: 0;
}
/**************
  Recent Blog
***************/
/** Takes out underline of headings **/
.group a {
  text-decoration: none;
}

h3 {
  margin-top: 1px;
}

.recent-blog {
  border: 2px #ff9999 dashed;
}

/**************
  Recent Work
***************/
.recent-work {
  border: 2px #ff9999 dashed;

}

/***********
  Aside
***********/
aside{
  border: 2px #ff9999 dashed;
}

table, .th3, .th4, td {
  border-top: 2px #ff9999 dashed;
}

.th1, .th3 {
  border-right: 2px #ff9999 dashed;
}
/**************
  Social Links
**************/

.main-footer {
  margin: 10px 0;
  padding: 10px 0;
}

footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer li {
  display: inline-block;
}

footer a {
  padding: 15px 10px;
}

/**************
  Copyright
**************/

.copyright {
  color: #ccc;
  font-size: 16px;
  padding-top: 10px;
}

/***********************
  Learning-Sketch-Blog
***********************/
div.learning-sketch-main {
  color: #747474;
  margin: 4%;
}

.learning-sketch-main {
  font-size: 1.2em;
}

.blog-title {
  color: #747474;
  text-decoration: underline;
}

.blog-date {
  display: none;
}

.source {
  text-decoration: underline;
}

.outside-link {
  color: #ffc0ac;
}

.outside-link:hover, .outside-link:active, .outside-link:focus {
  background-color: #fff;
  color: #ff9999;
}

/****************
  Blog
****************/
.blog-text {
  color: #747474;
}

/****************
  Portfolio
****************/
.portfolio-text {
  color: darkslateblue;
  font-weight: bold;
}

/****************
  About
****************/
footer{
  margin-top: 10%;
}
/*****************************************************************
  Media Queries
****************/

@media (max-width: 347px) {
  body {
    font-family: 'Open Sans', sans-serif;
    margin: 2% 4%;
    text-align: center;
  }
  .main-nav{
    margin-bottom: 5%;
  }
  .recent-work {
    border: 2px #ff9999 dashed;
    margin: 5% 0;
    padding-bottom: 55px;
  }

  aside{
    border: 2px #ff9999 dashed;
  }
  .book-heading{
    margin: 0;
  }
  footer li {
  display: block;
  padding: 20px;
  }
}
@media (min-width:348px){
  .main-nav{
    margin-bottom: 5%;
  }
  .recent-work {
    border: 2px #ff9999 dashed;
    margin: 5% 0;
    padding-bottom: 55px;
  }
  .book-heading{
  margin: 0;
}
  aside{
    border: 2px #ff9999 dashed;
    float: right;
    margin: 0 0 2% 0;
  }
  nav a, .header-text, .blog-heading, .work-heading, .book-heading, .social-links{
    font-size: 2em;
  }
  .header-title, .greeting {
    font-size: 6em;
  }
  .greeting{
    font-size: 3em;
  }
  .main-content{
    font-size: 1.3em;
    padding: 0 20%;
  }
  .follow-blog-text{
    font-size: 1em;
  }
  .th1, .th2, .th3, .th4{
    font-size: 1.5em;
  }
  .copyright {
    font-size: 16px;
  }
}
@media (min-width:768px){
  body {
    margin: 1% 4%;
  }
  header {
    border: 2px #ff9999 dashed;
  }
  .header {
    border: none;
  }
  .header-title {
    position: absolute;
  }
  .header-text{
    text-align: left;
  }
  .main-nav {
    position: relative;
    text-align: right;
  }
  .recent-blog {
    float: left;
    margin: 0 4% 5% 2%;
    width: 46%;
  }
  .recent-work {
    float: left;
    margin: 0;
    padding-bottom: 55px;
    width: 46%;
  }
  aside{
    clear: both;
  }
  .book-heading{
    margin:0;
  }
  .main-footer {
    margin-bottom: 50px;
    text-align: right;
  }
  .social-bar {
    margin-left: 10px;
  }
  footer ul {
    float: left;
  }
  footer li {
    display: inline-block;
  }
  footer a {
    padding: 15px 10px;
  }
  .copyright {
    margin: 0 30px 0 0;
    padding-top: 0;
    text-align: right;
  }
  nav a, .header-text, .blog-heading, .work-heading, .book-heading, .social-links{
    font-size: 2em;
  }
  .header-title, .greeting {
    font-size: 5em;
  }
  .greeting{
    font-size: 3em;
  }
  .main-content{
    font-size: 1.2em;
    padding: 0 20%;
  }
  .follow-blog-text{
    font-size: 1em;
  }
  .th1, .th2, .th3, .th4{
    font-size: 1.7em;
  }
  .copyright {
    font-size: 16px;
  }
  .blog-date {
    display: contents;
    position: absolute;
  }
  div.learning-sketch-main {
    margin: 10px 130px 60px 130px;
    position: relative;
  }
}
/*********************************************/
@media (min-width:1024px) {
  body {
    margin: 1% 4%;
  }

  .recent-blog {
    float: left;
    margin: 0 5% 0 2%;
    width: 28%;
  }
  .recent-work {
    float: left;
    margin: 0 2%;
    padding-bottom: 55px;
    width: 28%;
  }
  aside {
    float: right;
    margin: 0;
    width: 28%;
  }
  aside{
    clear: right;
  }

  footer ul {
    float: left;
  }
  footer a {
    padding: 15px 10px;
  }
  .copyright{
    padding-top: 10px;
    }
    .header-title{
      margin-top: 4%;
    }
    nav a, .header-text, .blog-heading, .work-heading, .book-heading, .social-links{
      font-size: 2.5em;
    }
    .header-title, .greeting {
      font-size: 7em;
    }
    .greeting{
      font-size: 4em;
    }
    .main-content{
      font-size: 1.5em;
      padding: 0 20%;
    }
    .follow-blog-text{
      font-size: 1.2em;
    }
    .th1, .th2, .th3, .th4{
      font-size: 1.5em;
    }
    .copyright {
      font-size: 16px;
    }
  .blog-date {
    display: contents;
    position: absolute;
  }
  div.learning-sketch-main {
    margin: 10px 250px 60px 250px;
    position: relative;
  }
}
@media (min-width:1440px) {
  body{
    margin: 2% 5%;
  }
  .header-title{
    margin-top: 4%;
  }
  nav a, .header-text, .blog-heading, .work-heading, .book-heading, .social-links{
    font-size: 2.5em;
  }
  .header-title, .greeting {
    font-size: 7em;
  }
  .greeting{
    font-size: 4em;
  }
  .main-content{
    font-size: 1.5em;
    padding: 0 20%;
  }
  .follow-blog-text{
    font-size: 1.2em;
  }
  .th1, .th2, .th3, .th4{
    font-size: 1.5em;
  }
  .copyright {
    font-size: 16px;
  }
}
@media (min-width:2560px) {
  body{
    margin: 2% 20%;
  }
  .header-title{
    margin-top: 3%;
  }

}
