
/*****************************************************************
  Media Queries
****************/
@media (min-width:768px){


  .blog-date {
    display: contents;
    position: absolute;
  }
  div.learning-sketch-main {
    margin: 10px 130px 60px 130px;
    position: relative;
  }
}
/*********************************************/
@media (min-width:1024px) {
  footer ul {
    float: left;
  }
  footer a {
    padding: 15px 10px;
  }
  .copyright{
    padding-top: 10px;
    }
    .header-title{
      margin-top: 4%;
    }
    nav a, .header-text, .blog-heading, .work-heading, .book-heading, .social-links{
      font-size: 2.5em;
    }
    .header-title, .greeting {
      font-size: 7em;
    }
    .greeting{
      font-size: 4em;
    }
    .main-content{
      font-size: 1.5em;
      padding: 0 20%;
    }
    .follow-blog-text{
      font-size: 1.2em;
    }
    .th1, .th2, .th3, .th4{
      font-size: 1.5em;
    }
    .copyright {
      font-size: 16px;
    }
  .blog-date {
    display: contents;
    position: absolute;
  }
  div.learning-sketch-main {
    margin: 10px 250px 60px 250px;
    position: relative;
  }
}
@media (min-width:1440px) {

  .header-title{
    margin-top: 4%;
  }
  nav a, .header-text, .blog-heading, .work-heading, .book-heading, .social-links{
    font-size: 2.5em;
  }
  .header-title,  {
    font-size: 7em;
  }
  .greeting{
    font-size: 4em;
  }
  .main-content{
    font-size: 1.5em;
  }
  .follow-blog-text{
    font-size: 1.2em;
  }

}
