/**************
  Recent Blog
***************/
/** Takes out underline of headings **/
.group a {
  text-decoration: none;
}

h3 {
  margin-top: 1px;
}

aside, .recent-blog, .recent-work {
  border: $b;
}

/***********
  Aside
***********/
table, .th3, .th4, td {
  border-top: $b;
}

.th1, .th3 {
  border-right: $b;
}
