/***********
  Main
***********/
.content {
  /*Pushes div over content */
  overflow: auto;
}
.greeting {
  margin: 15px 0 2px 0;
}
.main-content{
  margin-top: 0;
  padding: 0 20%;
}
.photo{
  @media #{$brk-very-small}{
    padding: 7% 0 0;
  }
  @media #{$brk-small}{
    padding: 7% 0 0 0;
  }
  @media #{$brk-medium}{
    padding: 3% 0 0 0;
  }
  @media #{$brk-large}{
    padding: 4% 0 0 0;
  }
  @media #{$brk-very-large}{
    padding: 3% 0 0 0;
  }
  @media #{$brk-super-large}{
    padding: 6% 0 0 0;
  }
}
.profile-pic, .about-pic{
    border-radius: 50%;
}
/****************
  About page
***************/
.content{
  width: auto;
  height: auto;
  overflow: hidden;
}
