/***********
  Main
***********/
.content {
    /*Pushes div over content */
    overflow: auto;
  }
  .greeting {
    margin: 15px 0 2px 0;
    grid-area: greeting;
  }
  .main-content{
    margin-top: 0;
    padding: 0 20%;
    grid-area: main-content;
  }

  .photo{
   
    @media #{$brk-very-small}{
      padding: 7% 0 0;
    }
    @media #{$brk-small}{
      padding: 7% 0 0 0;
    }
    @media #{$brk-medium}{
      padding: 3% 0 0 0;
    }
 
    @media #{$brk-large}{
      padding: 4% 0 0 0;
    }
    @media #{$brk-very-large}{
      padding: 3% 0 0 0;
    }
    @media #{$brk-super-large}{
      padding: 6% 0 0 0;
    }
    grid-area: photo;
  }
  // .border-flower{
  //   position: absolute;
  //   top: 150px;
  //   left: 5px;
  //   z-index: 1;
  // }
  
  .profile-pic, .about-pic{
      border-radius: 50%;
  }
  .follow-blog-text{
    grid-area: follow-blog-text;
  }
main{
  display: grid;
  grid-gap: 20px;
  grid-template-areas: 
  "photo"
  "greeting"
  "main-content"
  "follow-blog-text";
}
  @media #{$brk-medium}{
    main{
    grid-template-columns: 2fr 2fr;
    grid-template-areas: 
      "photo greeting"
      "photo main-content"
      "photo follow-blog-text";
      padding: 20px;
  }
}

  /****************
    About page
  ***************/
  .content{
    width: auto;
    height: auto;
    overflow: hidden;
  }
  