// Dashed border

  %border {
    border: 2px #ff9999 dashed;
  }

//Top Space

%t-space {
  margin: 10px 0;
  padding: 10px 0;
}

//No style and Space

%no-style{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
