/**************
  Social Links
**************/

.main-footer {
  @extend %t-space;
}

footer{
  margin-top: 10%;
}

footer ul{
  @extend %no-style;
}

footer li {
  display: inline-block;
}

footer a {
  padding: 15px 10px;
}

/**************
  Copyright
**************/

.copyright {
  color: #ccc;
  font-size: 16px;
  padding-top: 10px;
}
