/**************
  Social Links
**************/

.main-footer {
  @extend %t-space;
  @media #{$brk-medium}{
    margin-bottom: 50px;
    text-align: right;
  }
}

footer{
  margin-top: 10%;
}

footer ul{
  @extend %no-style;
  @media #{$brk-medium}{
    float: left;
  }
}

footer li {
  display: inline-block;
  @media #{$brk-very-small}{
    display: block;
    padding: 20px;
  }
}

footer a {
  padding: 15px 10px;
}

/**************
  Copyright
**************/

.copyright {
  color: #ccc;
  font-size: 16px;
  padding-top: 10px;
  @media #{$brk-medium}{
    margin: 0 30px 0 0;
    padding-top: 5px;
    text-align: right;
  }
}
