/**************
  Social Links
**************/

.main-footer {
    @extend %t-space;
    @media #{$brk-medium}{
      margin-bottom: 50px;
      text-align: right;
    }
  }
  footer ul{
    @extend %no-style;
    @media #{$brk-small}{
      margin-left:-5%;
    }
    @media #{$brk-medium}{
      float: left;
    }
  }
  
  footer li {
    display: inline-block;
    @media #{$brk-very-small}{
      display: block;
      padding: 20px;
      margin: 1px;
    }
  }
  
  footer a {
    padding: 15px 10px;
    margin: 2% 1%;
    @media #{$brk-small}{
      display:flex;
      margin-top: 4%;
    }
  }
  
  /**************
    Copyright
  **************/
  
  .copyright {
    color: #ccc;
    font-size: 16px;
    padding-top: 5%;
    @media #{$brk-medium}{
      margin: 0 30px 0 0;
      padding-top: 5%;
      text-align: right;
    }
  }
  