/******************
  Header Styles
***********/
.header {
@extend %border;
}

.header-title {
  margin: 20px 0;
  top: -10px;
}

.header-text {
  margin: 0;
}

/**********
  Nav
***********/
.main-nav {
  @extend %t-space;
}

nav ul {
  @extend %no-style;
}

nav li {
  display: inline-block;
}

nav a {
  padding: 15px 10px;
  text-decoration: none;
}

/* nav a:visited {
  color: #ffd8d8;
} */
