/******************
  Header Styles
***********/
header{
    @media #{$brk-medium}{
      border: $b;
    }
  }
  .header {
    border: $b;
    @media #{$brk-medium}{
      border: none;
    }
  }
  .header-title {
      margin: 5% 0 0 0;
    @media #{$brk-very-small}{
    top: -10%;
  }
    @media #{$brk-medium}{
      top: -1%;
      position: absolute;
    }
    @media #{$brk-large}{
      top: -2%;
    }
    @media #{$brk-super-large}{
      top: -1%;
    }
  }
  .header-text-group{
    // padding-top: 20%;
    @media #{$brk-very-small}{
      padding: 0% 0 1% 0;
    }
    @media #{$brk-small}{
      padding: 1% 0 1% 0;
    }
    @media #{$brk-medium}{
      padding: 3% 0 1% 0;
    }
    @media #{$brk-large}{
      padding: 4% 0 1% 0;
    }
    @media #{$brk-very-large}{
      padding: 4% 0 1% 0;
    }
    @media #{$brk-super-large}{
      padding: 3% 0 1% 0%;
    }
  }
  
  /**********
    Nav
  ***********/
  .main-nav {
    @extend %t-space;
    margin-bottom: 5%;
    @media #{$brk-medium}{
      position: relative;
      text-align: right;
    }
  }
  
  nav ul {
    @extend %no-style;
  }
  
  nav li {
    display: inline-block;
    @media #{$brk-very-small}{
      display: block;
      padding: 20px;
    }
  }
  
  nav a {
    padding: 15px 10px;
    text-decoration: none;
  }
  
  /* nav a:visited {
    color: #ffd8d8;
  } */