// Descriptive color variables

$white :       #fff;
$black :       #000;
$silver :      #ccc;
$dusty-gray  : #999;
$wax-flower  : #ffc0ac;
$mona-lisa :   #ff9999;
$khaki :       #f0e68c;
$gigas :       #483f92;
